@model List<MVC_tuincentrum.Models.Plant>

@{
    ViewBag.Title = "FindPlantenBySoortNaam";
}

<h2>FindPlantenBySoortNaam</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Naam</th>
            <th>Soort</th>
            <th>Leverancier</th>
            <th>Kleur</th>
            <th>Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
           <tr>
               <td>@Html.DisplayFor(modelItem=>item.Naam)</td>
               <td>@Html.DisplayFor(modelitem=>item.Soort.Naam)</td>
               <td>@Html.DisplayFor(modelitem=>item.Leverancier.Naam)</td>
               <td>@Html.DisplayFor(modelitem=>item.Kleur)</td>
               <td>@Html.DisplayFor(modelitem=>item.VerkoopPrijs)</td>
           </tr>
        }
    </tbody>
</table> 
